@import url("normalize.css");

a {
  text-decoration: none;
}

.router-link-active {
  text-decoration: none;
}

#head {
  height: 70px;
  background-color: #343434;
}

.head_label {
  height: 30px;
  margin-top: 40px;
  color: #D1D1D1;
  text-align: center;
}

.blog-model-body {
  text-align: center;
  padding-top: 15px;
}

.blog-model-body .introduction {
  padding-left: 10px;
  border-bottom: solid 1px #D1D1D1;
  border-left: solid 1px #D1D1D1;
  height: 100%;
  text-align: left;
}

.code {
  background-color: #F9F9F9;
  border: solid 1px #D1D1D1;
  text-align: left;
}

.code .notes {
  color: blue;
}

.code .keyword {
  color: red;
}

.code p {
  line-height: 5px;
}

.bottom {
  padding-top: 30px;
  font-size: 6px;
  color: #343434;
}

.explain {
  height: 1000px;
  padding-top: 200px;
  padding-left: 100px;
}

.textleft {
  text-align: left;
  padding-left: 10px;
}

.question {
  color: red;
}
